@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$color1:#543216;
$color2:#F8D6AF;
$color3:white;
$color4: black;
$color5: burlywood;
$color6: grey;
$color7: red;

@mixin sizes ($width, $height){
    height: $height;
    width: $width;
}

$estilo1:(
    arriba: 20px,
    grueso: 900,
    abajo: 50px,
    tam: 20px
);



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
}


/* EMPIEZA: index  */

.fondoheader {
    background-color: $color1 !important;
}

.fondoprincipalinicio {
    background-image: url(img/Principal.png);
}

.principal {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    & h1 {
    display: block;
    color: $color4;
    font-weight: 700;
    text-shadow: 5px 5px 5px $color5;
    }

    & span {
    display: block;
    text-align: center;
    font-weight: 700;
    }
}

.fondocolor {
    background-color: $color5;
}

.parrafoMain{
    & p {
    font-size: 18px;
    padding: 18px;
    }
}


.footerprincipal {
    padding-top: map-get($estilo1, arriba);
    font-weight: map-get($estilo1, grueso);
    padding-bottom: map-get($estilo1, abajo);
    font-size: map-get($estilo1, tam);
}

footer {
    background-color: $color2;
}

/* proyectos imagenes */

.img {
    border-radius: 10px;
    margin: 10px;
}

@for $i from 1 through 13{
    .img#{$i}{
    grid-area: img#{$i};
    background-image: url(img/proyecto#{$i}.webp);
    background-size: cover;
    background-position: center;
    }
}

/* PAGOS */
.fondoprincipalpagos {
    background-image: url(img/Pagos2.jpg);
    padding-bottom: 220PX;
}

.section_pagos {
    display: flex;
    justify-content: center;

    & h2 {
    text-shadow: 5px 5px 5px $color1;
    }
}

.fondogeneralpagos {
    background-image: url(img/PagosFondo.jpg);
}

.pagosdecoracion {
    background-color: $color3;
    border-radius: 5px;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.pagosdecoracion2 {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
}

/* CONTACTOS */

.fondoprincipalcontacto {
    background-image: url(img/contacto.jpg);
}

.fondogeneralcontacto {
    background-image: url(img/ContactoFondo.jfif);
}




/* ANIMACIONES */
.efect {
    animation-name: efecto;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 10s;
    animation-delay: 0s;
}

@keyframes efecto {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

/* MENU */
li {
    transition-duration: 0.2s;
}

li:nth-of-type(1):hover {
    border-bottom: 3px dotted $color6;
}

li:nth-of-type(2):hover {
    border-bottom: 3px dotted $color6;
}

li:nth-of-type(3):hover {
    border-bottom: 3px dotted $color6;
}

li:nth-of-type(4):hover {
    border-bottom: 3px dotted $color6;
}

li:nth-of-type(5):hover {
    border-bottom: 3px dotted $color6;
}

/* ESQUINA DOBLADA */
.esquina {
    transform: translateX(0);
}

.esquina::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    @include sizes (0,0);
    background: linear-gradient(45deg, $color3 45%, #aaa 50%, #ccc 60%, $color3);
    transition-duration: 0.3s;
}

.esquina:hover::before {
    @include sizes (30px,35px);
}

/* ESCALAR */
.escalar {
    -webkit-transition: 1s linear;
    transition: 1s linear;
}

.escalar:hover {
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.nuevosproyectos {
    background-image: url(img/ProyectoFondo.webp);
}

.row {
    padding: 20px;
}

.container {
    padding: 50px 0px;
}






@media only screen and (min-width:320px) and (max-width:480px) {

    /* mobile index */

    .nav-item {
        padding: 10px;
        margin: 10px;
    }

    .nav-link {
        font-size: 25px;
        padding: 10px;
        color: $color3 !important;
        text-transform: uppercase;
        text-decoration: none; /* saca decoracion */

        &:hover {
            color: $color7 !important;
        }
    }

    .principal{
        & h1 {
        font-size: 35px;
        margin-top: 210px;
        }

        & span {
        font-size: 35px;
        }
    }

    .carouselimg {
        @include sizes (100%,40%);
    }

    .fondoSection {
        background-image: url(./img/5.png );
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contenedorIframe {
        color: $color3;
        font-weight: 900;
        justify-content: center;
        align-items: center;
        margin: 0% 25%;
    
        & h2 {
        text-transform: uppercase;
        text-align: center;
        margin-top: 200px;
        text-shadow: 5px 5px 5px $color5;
        }

        & p {
        margin-bottom: 200px;
        }

        & iframe {
        @include sizes (100%,50%);
        }
    }

    /* mobile nosotros */

    .fondoprincipalnosotros {
        background-image: url(img/NosotrosFondo.jpg);
    }

    .empresa {
        background-image: url(img/NosotrosFondo2.jpg);
    

    & img {
        padding: 50px;
        width: 100%;
        }

    & h2 {
        display: flex;
        justify-content: center;
        font-size: 32px;
        }

    & p {
        display: flex;
        justify-content: center;
        padding: 50px;
        font-size: 20px;
        }

    & ul{
        & li {
            display: flex;
            justify-content: left;
            padding-left: 50px;
            font-size: 20px;
            }
    }

}

    /* mobile proyectos */

    .proyecto {
        background-image: url(img/ProyectoFondo.webp);
        height: 550px;
    }

    .texto_proyecto {
        & h1 {
        display: flex;
        justify-content: center;
        align-items: top;
        font-size: 40px;
        padding: 100px 100px 0px 100px;
        color: $color4;
        font-weight: 700;
        text-shadow: 5px 5px 5px $color1;
        }

        & h2 {
        padding: 20px;
        color: $color4;
        }
    }

    .proyectos {
        background-image: url(img/ProyectoFondo.webp);
        display: grid;
        grid-template-areas:
            "img1 img2"
            "img3 img4"
            "img5 img5"
            "img6 img7"
            "img6 img8"
            "img9 img9"
            "img10 img11"
            "img12 img11"
            "img12 img13";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px 150px;
        padding: 0 20px 20px 20px;
        padding-bottom: 200px;
    }


}


@media only screen and (min-width:481px) and (max-width:1023px) {

    /* tablet index */

    .nav-item {
        padding: 5px;
    }

    .nav-link {
        font-size: 15px;
        color: $color3 !important;
        text-transform: uppercase;
        text-decoration: none;  /* saca decoracion */

        &:hover {
            color: $color7 !important;
        }
    }

    .principal {
        & h1 {
        font-size: 40px;
        margin-top: 20px;
        }

        & span {
            font-size: 40px;
        }
    }

    .carouselimg {
        @include sizes (100%,60%);
    }

    .fondoSection {
            background-image: url(./img/5.png );
            background-repeat: no-repeat;
            background-size: cover;
    }

    .contenedorIframe {
        color: $color3;
        font-weight: 900;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        padding: 0% 25%;
    

        & h2 {
            text-transform: uppercase;
            text-align: center;
            margin-top: 200px;
            text-shadow: 5px 5px 5px $color5;
        }

        & p {
            font-weight: 550;
            margin-bottom: 200px;
        }

        & iframe {
            @include sizes (400px,300px);
        }

    }
    /* tablet nosotros */

    .fondoprincipalnosotros {
        background-image: url(img/NosotrosFondo.jpg);
    }

    .empresa {
        background-image: url(img/NosotrosFondo2.jpg);

        & img {
            padding: 50px;
            @include sizes (100%,100%);
        }

        & h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px;
            font-size: 32px;
        }

        & p {
            padding: 50px;
            font-size: 20px;
        }

        & ul{
            & li {
                padding: 10px 200px;
                font-size: 20px;
            }
        }
    }

    /* tablet proyecto */

    .proyecto {
        background-image: url(img/ProyectoFondo.webp);
        height: 500px;
    }

    .texto_proyecto{
        & h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 45px;
            padding: 80px 20px;
            color: $color4;
            font-weight: 700;
            text-shadow: 5px 5px 5px $color1;
        }

        & h2 {
            padding: 40px 60px;
            color: $color4;
        }
    }
    .proyectos {
        background-image: url(img/ProyectoFondo.webp);
        display: grid;
        grid-template-areas:
            "img1 img2 img2"
            "img1 img3 img4"
            "img5 img6 img6"
            "img7 img8 img9"
            "img7 img10 img11"
            "img12 img12 img13";
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px 200px 150px 150px 150px 150px;
        padding: 0 50px 50px 50px;
    }


}

@media only screen and (min-width: 1024px) {

    /* pc index */

    .nav-item {
        padding: 8px;
    }

    .nav-link {
        font-size: 25px;
        color: $color3 !important;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: $color7 !important;
        }
    }

    .principal{
        & h1 {
            font-size: 100px;
            margin-top: 210px;
        }

        & span {
            font-size: 100px;
        }
    }

    .carouselimg {
        @include sizes (100%,100%);
    }

    .fondoSection {
        background-image: url(./img/5.png );
        background-repeat: no-repeat;
        background-size: cover;
    }

    .contenedorIframe {
        color: $color3;
        font-weight: 900;
        display: flex;
        border-radius: 30px;
        justify-content: space-around;
        align-items: center;
        margin-left: 100px;
        margin-right: 100px;


        & h2 {
            text-transform: uppercase;
            text-align: center;
            margin-top: 200px;
            text-shadow: 5px 5px 5px $color5;
        }

        & p {
            font-weight: 550;
            margin-bottom: 200px;
        }

        & iframe {
            @include sizes (400px,300px);
        }
    }

    /* pc nosotros */

    .fondoprincipalnosotros {
        background-image: url(img/NosotrosFondo.jpg);
    }

    .empresa {
        background-image: url(img/NosotrosFondo2.jpg);
    

        & img {
            padding: 15px;
            @include sizes (550px,412px);
        }

        & h2 {
            padding: 20px 50px;
            font-size: 32px;
            text-shadow: 5px 5px 5px $color5;
        }

        & p {
            padding-right: 50px;
            font-size: 20px;
        }

        & ul{
            & li {
                padding-right: 100px;
                font-size: 20px;
            }
        }
    }

    .empresa_separador {
        display: flex;
    }

    /* pc proyecto */

    .proyecto {
        background-image: url(img/ProyectoFondo.webp);
        height: 600px;
    }

    .texto_proyecto{
        & h1 {
            display: flex;
            justify-content: center;
            align-items: top;
            font-size: 76px;
            padding-top: 210px;
            color: $color4;
            font-weight: 700;
            text-shadow: 5px 5px 5px $color1;
        }

        & h2 {
            padding: 50px 100px 0px 100px;
            color: $color4;
        }
    }
    .proyectos {
        background-image: url(img/ProyectoFondo.webp);
        display: grid;
        grid-template-areas:
            "img1 img2 img2 img3"
            "img1 img4 img5 img3"
            "img6 img6 img5 img3"
            "img7 img8 img8 img9"
            "img10 img10 img11 img9"
            "img12 img12 img13 img13";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 200px 150px 150px 150px 150px;
        padding: 0 50px 50px 50px;
    }

}